//VARIABLES

//colores
$beige:#DAD7CD;
$arena: #A8A5A0;
$verdeclaro:#A3B18A;
$verdeintermedio:#588157;
$verdeoscuro:#3A5A40;
$verdemasoscuro:#344E41;

//tipografia
$botones:'Manrope', sans-serif;
$titulo:'Merriweather Sans', sans-serif;
$subtitulos:'Roboto', sans-serif;
$parrafos:'Raleway', sans-serif;